/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 64px);
  background-color: rgba(254, 254, 254, 0.794);
  padding: 3vh 4vw;
}
